@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #151515;
  color: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: visible;
  user-select: none;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
}

#container {
  background-color: #151515;
  background-size: 4em 4em;
  height: 100vh;
  user-select: none;
}

#card {
  background-color: #151515;
  border: 1px solid #eee;
  cursor: default;
  position: fixed;
  overflow: hidden;
}

.card-inner {
  border: 2px solid grey;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.card-navbar {
  background-color: #eee;
  padding: 2px;
  height: 18px;
  text-align: center;
  user-select: none;
}

.h2 {
  margin: 2px;
  margin-left: -0px;
  margin-top: 3px;
  text-align: left;
  font-size: 20px;
  color: #333;
  font-weight: 400;
  padding-right: 40px;
}

.card-content {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.8;
  user-select: text;
}

.card-content a {
  color: #d7cb9c;
}

.content-item {
  margin: 0;
  padding: 10px 0;
  display: flex;
  font-size: 16px;
  color: #eee;
  font-weight: 400;
}

.folder-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  user-select: none;
}

.content-item h2 {
  margin: 0;
  font-size: 16px;
  color: #eee;
  font-weight: 400;
}

.folder-text {
  margin: 0;
  font-size: 16px;
  color: #eee;
}

.about-item {
  margin-left: 40px;
}

.folder-button {
  background: none;
  border: none;
  color: #eee;
  font-size: 16px;
  cursor: default;
  text-align: left;
  padding: 0;
  margin: 0;
  font-weight: 400;
  user-select: none;
}

.about-details {
  margin-left: 85px;
}

.close-button {
  background-color: #eee;
  border: 1px solid #151515;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  height: 18px;
  width: 18px;
  margin: 2px;
  text-align: center;
  color: #151515;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0;
  cursor: default;
  line-height: 0px;
  user-select: none;
}

.minimize-button {
  background-color: #eee;
  border: 1px solid #151515;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  height: 18px;
  width: 18px;
  margin: 2px;
  color: #151515;
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 0;
  cursor: default;
  line-height: 0px;
  user-select: none;
}

h1 {
  margin-top: 0.3em;
  margin-bottom: -0.2em;
  font-size: 2.4em;
}

.progress-button {
  background-color: #eee;
  border: 1px solid #151515;
  font-family: 'Source Sans Pro', sans-serif;
  color: #151515;
  user-select: none;
}
